asgiref==3.8.1
crispy-bootstrap5==2024.2
Django==5.0.6
django-crispy-forms==2.1
django-environ==0.11.2
Markdown==3.6
pillow==10.3.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
Pygments==2.18.0
python-dotenv==1.0.1
python-environ==0.4.54
sqlparse==0.5.0
