{% extends "layout.html" %}
{% load markdown_extras %}
{% block content %}
<section class="py-5 bg-primary text-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4 fw-bold text-uppercase text-light">Détail de votre formation</h1>
                <p class="lead text-light">ACADEMY221</p>
            </div>
        </div>
    </div>
</section>

<section id="dashboard" class="py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col md-8">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3">{{ course.title }}</h1>
                    </div>
                    <div class="card-body">
                        <p>{{ course.description | markdown | safe }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!--- start -->
                <div class="accordion" id="accordionExample">
                    {% for section in sections %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ section.id }}">
                            <button class="accordion-button {% if forloop.first %} {% else %}collapsed{% endif %}"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ section.id }}"
                                    aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                                    aria-controls="collapse{{ section.id }}">
                                Section {{ forloop.counter }} : {{ section.title }}
                            </button>
                        </h2>
                        <div id="collapse{{ section.id }}"
                             class="accordion-collapse collapse {% if forloop.first %}show{% else %}{% endif %}"
                             aria-labelledby="heading{{ section.id }}"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ol>
                                    {% for lesson in section.lessons.all %}
                                    <li><a href="{% url 'lesson_detail' course_slug=lesson.section.course.slug slug=lesson.slug %}">{{ lesson.title }}</a></li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- end -->
            </div>
        </div>
    </div>
</section>
{% endblock %}